GEMMA_BASE_URL=http://host.docker.internal:11434
DEEPSEEK_BASE_URL=http://host.docker.internal:11435
QWEN_BASE_URL=http://host.docker.internal:11436
GEMMA_MODEL=gemma3:latest
DEEPSEEK_MODEL=deepseek-r1:latest
QWEN_MODEL=qwen3:latest
